.cart-empty {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 15%;
  width: 100%;
}


.cart-empty i {
  margin: 0 auto;
}

.cart-empty p {
  font-size: 1.5rem;
  text-align: center;
}


@media screen and ( max-width : 700px ) {

  .cart-empty {
    margin-top: 30%;
  }

  .cart-empty p {
    font-size: 1rem;
  }
}
