.style-custom {
  flex-direction: row;
  width: 50rem;
}

.style-custom img {
  width: 350px;
}

@media screen and ( max-width : 700px ) {

  .style-custom {
    flex-direction: column;
    width: 100%;
  }

  .style-custom img {
    width: 200px;
  }
}
