.product-detail-avaliable-content {
  border: 1px solid black;
  margin: 35px 0;
  padding: 15px;
  width: 90%;
}

.product-detail-user-coment {
  border: 1px solid black;
  margin: 25px 0;
  padding: 15px;
  width: 90%;
}

.product-details-title {
  margin-top: 45px;
}

@media screen and ( max-width : 700px ) {

  .product-detail-avaliable-content {
    width: 100%;
  }

  .product-detail-avaliable-content textarea {
    width: 100%;
  }

  .product-detail-user-coment {
    width: 100%;
  }
}
